@font-face{
    font-family: StyleScript;
    src: url(fonts/StyleScript-Regular.ttf)
    
}

body{
    position: relative;
    width: 480px;
    background-color: #200d36;
    color: white;
    font-family: StyleScript;
    font-size: 20px;
    line-height: 22px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


.logo{
    position: absolute;
    background-color: #920fa6;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20%;
    top: 2px;
    left: -70px;
    transition: all 0.5s;
}

.logo:hover{
    border-radius: 100%;
    transition: all 0.5s;
}

.logo:active{
    background: aqua;
    border-radius: 10%;
    transition: all 0.5s;
    transform: rotate(45deg);
}

h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}


h3{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

ul{
    margin-top: 20px;
}

li{
    position: relative;
    margin-bottom: 5px;
}

li::before{
    position: absolute;
    content: "";
    background-color: #920fa6;
    top: 3px;
    width: 12px;
    height: 12px;
    left: -18px;
    transition: all 0.5s;
    border-radius: 15%;
}

a:link,a:visited{
    color: white;
    text-decoration:underline;
    text-decoration-color: #920fa6;
}






li:has(a:hover) a:link,
li:has(a:hover) a:visited{
    text-decoration-color: aqua;
}

li:has(a:hover)::before{
    border-radius: 100%;
}

body:has(.logo:hover) #titleName:visited,
body:has(.logo:hover) #titleName:link{
    color:#920fa6;
    transition: all 0.5s;
}

body:has(.logo:hover) li::before{
    border-radius: 100%;
}

li:has(p:hover) p{
    text-decoration: underline;
    text-decoration-color: white;
    
}

body:has(#titleName:hover) #titleName:hover{
    transition: all 0.5s;
    text-decoration-color: aqua;
}

body:has(#titleName:hover) .logo{
    border-radius: 100%;
}




body:has(#titleName:active) .logo{
    background: aqua;
    border-radius: 10%;
    transition: all 0.5s;
    transform: rotate(45deg);
}


body:has(.logo:active) #titleName:visited,
body:has(.logo:active) #titleName:link{
    color:aqua;
    text-decoration-color: aqua;
    transition: all 0.5s;
}

body:has(.logo:active) li::before{
    background-color:aqua;
    border-radius: 15%;
    transform: rotate(45deg);
}


li:has(a:active)::before{
    border-radius: 15%;
    background-color: aqua;
}

body:has(.logo:active) ul li a:link,
body:has(.logo:active) ul li a:visited {
    text-decoration: underline !important;
    text-decoration-color: aqua !important;
    transition: all 0.5s !important;
}





